# packrat libraries
packrat/src/*/* filter=lfs diff=lfs merge=lfs -text
packrat/src/*/* filter=lfs diff=lfs merge=lfs -text

# raw data files
*.mzML filter=lfs diff=lfs merge=lfs -text
*.mzXML filter=lfs diff=lfs merge=lfs -text
*.mzData filter=lfs diff=lfs merge=lfs -text

# mySQL Workbench model
*.mwb filter=lfs diff=lfs merge=lfs -text

# TO make github not consider it an HTML repo
MetabolomiQCsR/inst/doc/* linguist-documentation
