# packrat libraries
Shiny_app/packrat/src/*/* filter=lfs diff=lfs merge=lfs -text

# raw data files
*.mzML filter=lfs diff=lfs merge=lfs -text
*.mzXML filter=lfs diff=lfs merge=lfs -text
*.mzData filter=lfs diff=lfs merge=lfs -text
