{
  "branches": ["main", "master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -r QC4Metabolomics-demo-${nextRelease.version}.zip release-dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "QC4Metabolomics-demo-*.zip",
            "name": "QC4Metabolomics-demo-<%= nextRelease.version %>.zip",
            "label": "QC4Metabolomics Demo Bundle"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "bash -x ./setup/tag-docker-images.sh ${nextRelease.version}"
      }
    ]
  ]
}
