#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

exportClasses("RGList","MAList","EListRaw","EList","MArrayLM","TestResults","LargeDataObject","Roast","MDS")
exportMethods("show")

import(methods)
importFrom("grDevices", "col2rgb", "dev.cur", "dev.off", "png", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "coplot", "image",
           "legend", "lines", "matplot", "mtext", "panel.smooth",
           "par", "plot", "plot.new", "points", "polygon", "rect",
           "segments", "text", "title")
importFrom("stats", "approx", "approxfun", "as.dendrogram", "as.dist", "cmdscale",
           "coef", "contr.sum", "contrasts<-", "cov", "cov2cor",
           "dist", "density", "df", "dhyper", "dnorm", "filter", "fitted",
           "hat", "hclust", "integrate", "isoreg", "lm", "lm.fit", "lm.wfit", "loess",
           "lowess", "median", "model.matrix", "na.exclude", "na.omit",
           "nlminb", "nls", "nls.control", "optim", "p.adjust",
           "pbeta", "pchisq", "pexp", "pf", "pgamma", "phyper",
           "pnorm", "ppoints", "predict", "pt", "qchisq", "qf",
           "qnorm", "qt", "quantile", "residuals", "rnorm", "sd",
           "uniroot", "var", "weighted.mean")
importFrom("utils", "getFromNamespace", "read.table", "write.table")
if( tools:::.OStype() == "windows" ) importFrom("utils", "winMenuAddItem")

S3method("[",MAList)
S3method("[",MArrayLM)
S3method("[",RGList)
S3method("[",EList)
S3method("[",EListRaw)
S3method(anova,MAList)
S3method(as.data.frame,EList)
S3method(as.data.frame,EListRaw)
S3method(as.data.frame,MAList)
S3method(as.data.frame,MArrayLM)
S3method(as.matrix,MAList)
S3method(as.matrix,EList)
S3method(as.matrix,EListRaw)
S3method(as.matrix,MArrayLM)
S3method(as.matrix,marrayNorm)
S3method(as.matrix,PLMset)
S3method(as.matrix,RGList)
S3method(as.matrix,ExpressionSet)
S3method(as.matrix,LumiBatch)
S3method(as.matrix,vsn)
S3method(avedups,default)
S3method(avedups,MAList)
S3method(avedups,EList)
S3method(avereps,default)
S3method(avereps,RGList)
S3method(avereps,MAList)
S3method(avereps,EListRaw)
S3method(avereps,EList)
S3method(avearrays,default)
S3method(avearrays,MAList)
S3method(avearrays,EList)
S3method(camera,default)
S3method(cbind,MAList)
S3method(cbind,RGList)
S3method(cbind,EList)
S3method(cbind,EListRaw)
S3method(decideTests,default)
S3method(decideTests,MArrayLM)
S3method(detectionPValues,default)
S3method(detectionPValues,EListRaw)
S3method(dim,MAList)
S3method(dim,MArrayLM)
S3method(dim,RGList)
S3method(dim,EList)
S3method(dim,EListRaw)
S3method(dimnames,MAList)
S3method(dimnames,MArrayLM)
S3method(dimnames,RGList)
S3method(dimnames,EList)
S3method(dimnames,EListRaw)
S3method("dimnames<-",MAList)
S3method("dimnames<-",RGList)
S3method("dimnames<-",EList)
S3method("dimnames<-",EListRaw)
S3method(fitted,MArrayLM)
S3method(fry,default)
S3method(goana,default)
S3method(goana,MArrayLM)
S3method(kegga,default)
S3method(kegga,MArrayLM)
S3method(length,MAList)
S3method(length,MArrayLM)
S3method(length,RGList)
S3method(length,EList)
S3method(length,EListRaw)
S3method(merge,MAList)
S3method(merge,RGList)
S3method(merge,EList)
S3method(merge,EListRaw)
S3method(mroast,default)
S3method(roast,default)
S3method(romer,default)
S3method(rbind,MAList)
S3method(rbind,RGList)
S3method(rbind,EList)
S3method(rbind,EListRaw)
S3method(residuals,MArrayLM)
S3method(summary,MAList)
S3method(summary,MArrayLM)
S3method(summary,RGList)
S3method(summary,EList)
S3method(summary,EListRaw)
S3method(summary,TestResults)
S3method(normalizeVSN,default)
S3method(normalizeVSN,RGList)
S3method(normalizeVSN,EListRaw)
S3method(plotMA,default)
S3method(plotMA,RGList)
S3method(plotMA,MAList)
S3method(plotMA,EListRaw)
S3method(plotMA,EList)
S3method(plotMA,MArrayLM)
S3method(plotMD,default)
S3method(plotMD,RGList)
S3method(plotMD,MAList)
S3method(plotMD,EListRaw)
S3method(plotMD,EList)
S3method(plotMD,MArrayLM)
S3method(plotMDS,default)
S3method(plotMDS,MDS)
S3method(plotFB,default)
S3method(plotFB,RGList)
S3method(plotFB,EListRaw)
S3method(plotDensities,default)
S3method(plotDensities,RGList)
S3method(plotDensities,MAList)
S3method(plotDensities,EListRaw)
S3method(plotDensities,EList)
